@use 'src/styles/vars';

.form {
  text-align: center;
  padding-top: 1em;
  margin-bottom: 1em;
  border-bottom: orangered 1px solid;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form__input {
  padding: 0.5em;
  text-align: center;
  border: orangered 2px solid;
  border-radius: 10px;
  font-size: 1em;
}

.form__button {
  padding: 0.5em;
  padding-left: 5px;
  background-color: orangered;
  border: none;
  margin-top: 1em;
  color: white;
  font-weight: bold;
  border-radius: 11px;
  font-size: 1em;
}
