@use 'src/styles/vars';

.tasks {

  font-size: 1.2rem;
  padding: 1rem;
}

.task {
  padding: 1rem;
}

.task--done {
  text-decoration: line-through;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

input[type=checkbox] {
  
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid black;
}

input[type="checkbox"]:checked {
  background: orangered;
  margin:1px;

}
