@use 'src/styles/vars';

.title {
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
  padding-top: 0.8em;
  font-family: 'Muthiara';
  color: orangered;
  

}
